.slider__hero {
   position: absolute;
   width: 1440px;
   height: 570px;
   z-index: 0;
}

.slider__hero-row {
   width: 100%;
   height: 100%;
}

.slider__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.slider__control {
   display: flex;
   position: absolute;
   padding: 10px 0;
   text-align: center;
   margin-top: 550px;
}

.slider__dots {
   z-index: 3;
   margin-top: -50px;
   padding: 10px 0;
   text-align: center;
}

.slider__dot {
   z-index: 3;

   cursor: pointer;
   height: 11px;
   width: 11px;
   margin: 0 11px;
   background-color: #d8e0f7;
   border-radius: 50%;
   display: inline-block;
}

.slider__dot.active,
.slider__dot:hover {
   background-color: #5e80fe;
}

.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {
      opacity: 0.4;
   }
   to {
      opacity: 1;
   }
}
