.socials {
   display: flex;
   align-items: center;
   margin-right: 0;
}

.social__link {
   margin-right: 35px;
   text-decoration: none;
}

.social__link:last-child {
   margin-right: 0;
}

.social__link-icon:hover {
   transform: translateY(-3px);
}
